# package managers
/node_modules
/.pnp
.pnp.js
package-lock.json
yarn.lock

# next.js
/.next/

# production
/build
/out

# misc
.DS_Store
*.pem
keys

# debug
/*-debug.log*
tsconfig.tsbuildinfo

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# firebase
/.firebase

# playwright
/test-results/
/playwright-report/
/playwright/.cache/
