rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{path=**}/Members/{memberId} {
      allow read: if request.auth.uid == resource.data.id;
    }

  	match /AppInfo/info {
      allow get: if true;
    }

    match /Products/{productId} {
      allow read, update: if resource != null && isEditorOnProduct(resource.data.id);
      allow delete: if get(/databases/$(database)/documents/Products/$(productId)/Members/$(request.auth.uid)).data.type == "owner";

      match /BusinessOutcomes/{businessOutcomeId} {
        allow read, write: if isEditorOnProduct(productId);
      }

      match /DialogueParticipants/{dialogueParticipantId} {
        allow read, write: if isEditorOnProduct(productId);
      }

      match /Features/{featureId} {
        allow read, write: if isEditorOnProduct(productId);
      }

      match /Huddles/{huddleId} {
        allow read: if isEditorOnProduct(productId);
        allow write: if isEditorOnProduct(productId) && request.auth.uid == huddleId;
      }

      match /Insights/{insightId} {
        allow read, write: if isEditorOnProduct(productId);
      }

      match /Invites/{inviteId} {
        allow read: if isEditorOnProduct(productId) || request.auth.token.email == resource.data.email;
        allow write: if isEditorOnProduct(productId)
      }

      match /Journeys/{journeyId} {
        allow read, write: if isEditorOnProduct(productId);

        match /Events/{eventId} {
          allow read, write: if isEditorOnProduct(productId);
        }
      }

      match /MarketLeaders/{marketLeaderId} {
        allow read, write: if isEditorOnProduct(productId);
      }

      match /Members/{memberId} {
        allow read, write: if isEditorOnProduct(productId);
      }

      match /Objectives/{objectiveId} {
        allow read, write: if isEditorOnProduct(productId);

        match /Results/{resultId} {
          allow read, write: if isEditorOnProduct(productId);
        }
      }

      match /Personas/{personaId} {
        allow read, write: if isEditorOnProduct(productId);

        match /Changes/{changeId} {
          allow read, write: if isEditorOnProduct(productId);
        }

        match /DaysInTheLife/{dayInTheLifeId} {
          allow read, write: if isEditorOnProduct(productId);
        }

        match /Frustrations/{frustrationId} {
          allow read, write: if isEditorOnProduct(productId);
        }

        match /Goals/{goalId} {
          allow read, write: if isEditorOnProduct(productId);
        }

        match /Interactions/{interactionId} {
          allow read, write: if isEditorOnProduct(productId);
        }

        match /PersonaTasks/{personaTaskId} {
          allow read, write: if isEditorOnProduct(productId);
        }

        match /Priorities/{priorityId} {
          allow read, write: if isEditorOnProduct(productId);
        }

        match /Responsibilities/{responsibilityId} {
          allow read, write: if isEditorOnProduct(productId);
        }
      }

      match /PotentialRisks/{potentialRiskId} {
        allow read, write: if isEditorOnProduct(productId);
      }

      match /RetrospectiveItems/{retrospectiveItemId} {
        allow read, write: if isEditorOnProduct(productId);
      }

      match /StoryMapHistories/{storyMapHistoryId} {
        allow read, write: if isEditorOnProduct(productId);

        match /HistoryItems/{historyItemId} {
          allow read, write: if isEditorOnProduct(productId);
        }
      }

      match /StoryMapItems/{storyMapItemId} {
        allow read, write: if isEditorOnProduct(productId);

        match /Comments/{storyMapCommentId} {
          allow read: if isEditorOnProduct(productId);
          allow create: if isEditorOnProduct(productId) && request.auth.uid == request.resource.data.authorId;
          allow update, delete: if isEditorOnProduct(productId) && request.auth.uid == resource.data.authorId;
        }
      }

      match /Tasks/{taskId} {
        allow read, write: if isEditorOnProduct(productId);
      }

      match /UserPriorities/{userPriorityId} {
        allow read, write: if isEditorOnProduct(productId);
      }

      match /Versions/{versionId} {
        allow read, write: if isEditorOnProduct(productId);
      }

      match /VisionUpdates/{visionUpdateId} {
        allow read, write: if isEditorOnProduct(productId);
      }
    }

    match /Users/{userId} {
      allow get: if request.auth != null;
      allow create, update: if userId == request.auth.uid && request.resource.data.email == request.auth.token.email;
      allow delete: if userId == request.auth.uid;
    }

    function productExists(productId) {
      return exists(/databases/$(database)/documents/Products/$(productId));
    }

    function isEditorOnProduct(productId) {
      let member = getAfter(/databases/$(database)/documents/Products/$(productId)/Members/$(request.auth.uid));
      return member.data.type == "editor" || member.data.type == "owner"
    }
  }
}
