@tailwind base;
@tailwind components;
@tailwind utilities;

[data-nextjs-scroll-focus-boundary] {
	display: contents;
}

#dashboard button.ant-btn-default {
	background-color: white;
}

#dashboard button.ant-btn-primary {
	background-color: #4a801e;
}

:is(.ant-menu-inline, .ant-menu-vertical) :is(li.ant-menu-item, div.ant-menu-submenu-title) {
	margin: 0px;
	width: 100%;
}

*.ant-form-item {
	margin-bottom: 14px;
}

*.ant-form-vertical .ant-form-item-label {
	padding-bottom: 4px;
}
