@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
	height: 100%;
}

button.ant-btn-default {
	background-color: white;
}

button.ant-btn-primary {
	background-color: #4a801e;
}

button.ant-btn-link {
	color: #4a801e;
}

ul.ant-menu-dark.ant-menu-horizontal > li.ant-menu-item-selected {
	background-color: transparent;
}

.ant-menu-light .ant-menu-item-selected {
	background-color: #e1f4d1;
}

.ant-notification-notice-message {
	margin-bottom: 0px !important;
}

p,
li {
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

#comment .ant-list-item {
	padding: 12px 0px !important;
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
	margin-left: 0px;
}

.ant-tabs-right > .ant-tabs-nav {
	max-width: 100%;
}

.ant-tabs-right .ant-tabs-content-holder {
	width: 0px;
}

.ant-tabs-tab-btn {
	max-width: 100%;
}

.ant-float-btn-default {
	background-color: white;
}
