@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/SFProText-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --kelly: #73c92d;
  --pine: #101d06;
}

.text-primary {
  color: var(--pine);
}

.text-secondary {
  color: var(--kelly);
}

*
{
  text-rendering:optimizeLegibility;
}

body {
  /* padding: 50px 153px; */
  margin: 0;
  background: #f0f2f5 !important;
  background-repeat: no-repeat;
  font-family: "SF Pro Text",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

.logo {
  text-align: center;
  color: var(--kelly) !important;
}

.plans {
  margin-top: 50px;
}

.plans Button {
  background: #f0f2f5;
  color: #009cd5;
  border: 2px solid #009cd5;
}

.card {
  background: #f0f2f5;
  border: 2px solid #a6ae9d;
  box-sizing: border-box;
  border-radius: 8px;
}

.product-card {
  position: relative;
  width: 440px;
  height: 440px;
  background: #f0f2f5;
  border: 2px solid #a6ae9d;
  box-sizing: border-box;
  border-radius: 8px;
}

.microsoft {
  font-family: "Segoe UI";
  font-weight: 400;
  color: #757575;
  background: #fff;
  font-size: 21px;
  border: 1px #8c8c8c;
  padding: 16px;
  width: 279.49px;
}

.googleBtn {
  /* color: #757575;
  background: #fff;
  border: 1px #8c8c8c;
  font-size: 21px;
  font-weight: 500;
  padding: 16px;
  font-family: "Roboto", sans-serif;
  width: 279.49px; */
  box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 480px) {
  body {
    padding: 10px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  padding: 50px 153px !important;
}

.swiper-slide {
  text-align: left;
  font-size: 18px;
  flex-shrink: 1 !important;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide-next,
.swiper-slide-prev {
  opacity: 0.3;
  pointer-events: none;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  border-radius: 0 !important;
  background: #a6ae9d !important;
  opacity: 0.3 !important;
  width: 24px !important;
  height: 3px !important;
}

.swiper-pagination-bullet-active {
  background-color: #a6ae9d !important;
  opacity: 1 !important;
}

.custom-message {
  position: absolute;
  top: 41px;
  right: 42px;
}

.custom-select {
  position: relative;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  height: 32px;
  padding: 0 10px;
}
.ant-message-custom-content {
  display: flex;
  align-items: center;
}

.dropdown {
  margin: 0 auto;
  user-select: none;
}

.dropdown .dropdown-btn {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  height: 32px;
  padding: 0 5px;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  /* font-weight: bold; */
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.dropdown .dropdown-content {
  position: absolute;
  top: 1;
  left: 5px;
  background-color: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  /* font-weight: 500; */
  color: #333;
  text-align: center;
  width: 88%;
  height: 155px;
  overflow-y: scroll;
}

.dropdown .dropdown-content .dropdown-item {
  padding: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown .dropdown-content .dropdown-item:hover {
  background-color: #009cd5;
  color: #fff;
}

.dashboard-logo {
  color: var(--kelly) !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #101D06 !important;
  color: var(--kelly);
  font-size: 16px;
  color: #fff;
}

.ant-layout-header {
  padding: 0 12px !important;
}

#settingsDrawer .ant-drawer-body {
  padding: 0 !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #F5FBF0 !important;
  color: #4A801D !important;
}

.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
  border-right: 2px solid #4A801D !important;
}

.ant-layout-sider-trigger {
  background-color: var(--kelly) !important;
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-left: 0px;
}

.ant-menu-item-selected a, .ant-menu-item-selected a:hover {
  color: black !important;
}

.deck-animate 
{
    transition: transform 300ms ease;
}
.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-today {
  border-color: #73C92D !important;
}

.ant-picker-calendar-date-value {
  color: #000 !important;
}

.ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected .ant-picker-calendar-date, .ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected:hover .ant-picker-calendar-date, .ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected .ant-picker-calendar-date-today, .ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected:hover .ant-picker-calendar-date-today {
  background-color: #EBF8E0 !important;
}

.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content::-webkit-scrollbar {
  display: none;
}

.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* .ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date {
  height: 165px !important;
} */

.ant-btn:hover, 
.ant-btn:focus ,
.ant-btn:active
{
  color: unset;
  border-color: unset;
 
}

#billings .ant-card-body {
  padding: 9px 16px !important;
  border: "1px solid #D9D9D9" !important;
  box-sizing: border-box !important;
}

#config .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active {
  color: #4A801D !important;
  border-color: #4A801D !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
  color: #4A801D !important;
  border-color: #4A801D !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: #4A801D !important;
  border-color: #4A801D !important;
}

.ant-input:focus,
.ant-input:hover,
.ant-input:active,
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover
{
  border-color:#4A801D ;
  box-shadow: none !important;
}

/* .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: #4A801D !important;
  border-color: #4A801D !important;
} */

#share .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: #fff!important;
  background-color: #4A801D !important;
  border-color: #4A801D !important;
}

/* AG: this needs to be fixed */
#sprint0Dashboard .ant-tag {
  margin-right: 0px !important;
}

.product-slide {
  width: 100vw;
  height: 650px;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  position: relative;
}